*
{
	/* border: 1px solid black; */
	box-sizing: border-box;
}

body
{
	margin: 0px;
}

#start
{
	background: url('Sky.jpg');
	background-size: 100% auto;
	background-attachment: fixed;
	height: 750px;
	color: white;
	padding-top: 25px;
	padding-right: 15vw;
	padding-left: 15vw;
}	

#sanitizer
{
	margin-top: 30px;
}
#sanitizer img
{
	width: 100px;
	transition: 0.5s;
}
#sanitizer img:hover
{
	width: 150px;
}

#menu li
{
	list-style-type: none;
	display: inline-block;
	font-size: 18px;
	font-family: Helvetica;
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 25px;
}

#menu a
{
	color: white;
	text-decoration: none;
	transition: 0.5s;
}
#menu a:hover
{
	color: #ffb300;
}

#text-large
{
	font-family: Helvetica;
	font-weight: bold;
}
#text-large h1
{
	font-size: 5.75vw;
	margin-top: 300px;
	margin-bottom: 0px;
}
#text-large h2
{
	color: rgb(0, 0, 0);
	font-size: 2.6vw;
	margin-top: 0px;
	margin-bottom: 50px;
}

#pumpkin button
{
	background-color: #54B847;
	color: white;
	border-radius: 5px;
	border: none;
	padding: 15px 25px;
	font-family: Helvetica;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-right: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 225px;
	transition: 0.5s;
}
#pumpkin button:hover
{
	background-color: #377a2e;
	cursor: pointer;
}

#charger
{
	margin-left: 15vw;
	margin-right: 15vw;
	font-family: Helvetica;
	color: #1e3e73;
}

#cream
{
	background: linear-gradient(rgba(0, 50, 255, 0.25),rgba(0, 50, 255, 0.25)), url('Industry.jpg');
	background-size: 100% auto;
	background-attachment: fixed;
	height: 1050px;
	clear: both;
}
#chupkali
{
	display: flex;
	justify-content: space-around;
	margin-left: 15vw;
	margin-right: 15vw;
}
.mouse
{
	text-align: center;
	float: left;
	margin: 5vw 5px;
}
.mouse img
{
	width: 80px;
}
.mouse h1
{
	color: white;
	font-family: Helvetica;
	font-size: 15px;
	text-transform: uppercase;
	margin-top: 30px;
	margin-bottom: 0px;
}

#divider
{
	width: 70%;
	color: white;
	height: 1px;
	opacity: 75%;
}

#lungs
{
	color: white;
	font-family: Helvetica;
	margin-left: 15vw;
	margin-right: 15vw;
}

.legs
{
	width: 60%;
	float: left;
	margin-bottom: 60px;
}
.legs h1
{
	font-size: 50px;
	margin-top: 60px;
	margin-bottom: 60px;
}
.legs p
{
	font-size: 18px;
	line-height: 35px;
	width: 70%;
}

.feet
{
	width: 40%;
	float: left;
	margin-top: 60px;
	margin-bottom: 60px;
}
.feet h1
{
	font-size: 20px;
	font-weight: bold;
	margin-left: 20px;
}
.feet ul
{
	width: 65%;
	font-size: 15px;
}
.feet li
{
	line-height: 25px;
}

#nail
{
	clear: both;
	background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('Dark Blue Abstract.jpg');
	height: 650px;
	text-align: center;
}
#nail img
{
	width: 350px;
	margin-top: 100px;
}
#nail p
{
	font-size: 25px;
	font-family: Cambria;
	color: white;
	text-transform: uppercase;
	width: 40%;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 100px;
	line-height: 40px;
}

#elephant
{
	color: #1e3e73;
	font-family: Helvetica;
	margin-left: 15vw;
	margin-right: 15vw;
}

.full-width-image
{
	width: 100%;
	margin: 0 auto;
	text-align: center;
}